{erl_opts, [{parse_transform, lager_transform}]}.
{deps,
 [
  {lager, ".*",
   {git, "https://github.com/basho/lager.git", {branch, "master"}}
  },
  {aloha, ".*",
   {git, "https://github.com/yamt/aloha.git", {branch, "master"}}
  },
  {of_protocol, ".*",
   {git, "https://github.com/yamt/of_protocol.git", {branch, "ryu"}}
  },
  {cowboy, ".*",
   {git, "https://github.com/extend/cowboy.git", {branch, "master"}}
  }
]}.
